{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>About CWL</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="keywords" />
        <meta content="" name="description" />

        <!-- Favicon -->
        <link href="{% static 'img/favicon.png' %}" rel="icon" />

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet" />

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
            <a href="index.html" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
                <img src="{% static 'img/CWL_Logo.png' %}" width="40%" height="40%" />
            </a>

            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="tracking.html" class="nav-item nav-link">배송추적</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">분야별 활용</a>
                        <div class="dropdown-menu fade-up m-0">
                            <a href="/index.html#Section1" class="dropdown-item">의약품 유통</a>
                            <a href="/index.html#Section1" class="dropdown-item">식품 유통</a>
                            <a href="/index.html#Section1" class="dropdown-item">반도체 유통</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">테크놀로지</a>
                        <div class="dropdown-menu fade-up m-0">
                            <a href="/index.html#Section2" class="dropdown-item">패키징</a>
                            <a href="/index.html#Section2" class="dropdown-item">데이터 로거</a>
                            <a href="/index.html#Section2" class="dropdown-item">공급망 관리</a>
                            <a href="/index.html#Section3" class="dropdown-item">운송 관리 시스템</a>
                            <a href="/index.html#Section3" class="dropdown-item">물류 정보 시스템</a>
                            <a href="/index.html#Section3" class="dropdown-item">창고 관리 시스템</a>
                        </div>
                    </div>
                    <a href="why.html" class="nav-item nav-link">Why CWL</a>
                    <a href="about.html" class="nav-item nav-link">About CWL</a>
                    <a href="mailto:chilledwaylogistics@gmail.com" class="nav-item nav-link">문의하기</a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- About Start -->
        <div class="container-fluid overflow-hidden py-5 px-lg-0">
            <div class="container feature py-5 px-lg-0">
                <div class="row g-5 mx-lg-0">
                    <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="text-secondary text-uppercase mb-3">About CWL</h6>
                        <h1 class="mb-5">우리는 2000년에 시작된 신뢰할 수 있는 콜드 체인 회사입니다.</h1>
                        <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="ms-4">
                                <h5>회사 연혁</h5>
                                <p class="mb-0">
                                    2000년대 초, 열정적인 창업자들이 모여 콜드 체인 물류 기업을 설립하게 되었습니다. 그들은 신선한 식품과 의약품 시장에서 수요가 높은 차가운 유통망을 구축하기 위해 노력하였습니다. 이 회사는 기술 혁신, 뛰어난
                                    서비스 제공, 그리고 고객 중심의 사업 모델을 바탕으로 초기 성장을 이루었습니다. <br />
                                    2000년대 중반부터, 회사는 빠르게 발전하는 콜드 체인 물류 시장에서 돋보이는 선두 기업으로 빠른 성장을 거듭하였습니다. 이러한 성공적인 성장은 회사의 높은 서비스 품질, 신뢰하고 구성된 팀, 그리고 탄탄한 추적
                                    시스템에 기반하여 있었습니다.<br />
                                    2010년대에 접어들며, 회사는 기존 영역을 넘어 새로운 시장으로의 진출을 추진했습니다. 친환경적인 물류 솔루션을 제공하기 시작했습니다.
                                    해당 시기 동안 회사는 지속 가능한 분야에서의 연구 및 개발 투자를 확대하였으며, 견고한 기반 위에 기업 가치를 더욱 확립하였습니다.<br />
                                    2020년대로 넘어오며 기업은 디지털화의 물결에 발맞추어 기술적 혁신을 도입하기 시작했습니다. 최첨단 기술을 도입하여 더욱 효율적이고 경쟁력 있는 서비스를
                                    고객에게 제공하려는 노력을 기울였습니다.<br />
                                    오늘날, 우리 기업은 전 세계적으로 신뢰받는 콜드 체인 물류 서비스 기업으로 성장하였고, 다양한 고객에게 안전하고 효율적인 물류 솔루션을 제공하며 업계를 선도하고 있습니다. 우리 기업은 지속 가능한 성장과
                                    혁신적인 가치 창출을 추구하며 미래의 도전에 대한 탄탄한 준비를 하고 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/about_cwl.jpeg' %}" style="object-fit: cover;" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">주소</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>서울특별시 금천구 서부샛길 606</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>010-7761-2652</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>chilledwaylogistics@gmail.com</p>
                        <div class="d-flex pt-2"></div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">분야별 활용</h4>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section1" style="color: white;">의약품 유통</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section1" style="color: white;">식품 유통</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section1" style="color: white;">반도체 유통</a></span>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">테크놀로지</h4>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section2" style="color: white;">패키징</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section2" style="color: white;">데이터 로거</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section2" style="color: white;">공급망 관리</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section3" style="color: white;">운송 관리 시스템</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section3" style="color: white;">물류 정보 시스템</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="/index.html#Section3" style="color: white;">창고 관리 시스템</a></span>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">퀵 링크</h4>
                        <span style="color: white;"><a class="btn btn-link" href="why.html" style="color: white;">Why CWL</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="about.html" style="color: white;">About CWL</a></span>
                        <span style="color: white;"><a class="btn btn-link" href="mailto:chilledwaylogistics@gmail.com" style="color: white;">문의하기</a></span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            &copy; <a class="border-bottom" href="#">ChilledWay Logistics</a>, All Right Reserved.
                            &nbsp;&nbsp;<!-- 간격을 추가 위한 공백 문자 -->
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <a class="border-bottom" href="privacy.html" style="color: white; font-size: larger;">개인정보처리방침</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top" style="background-color: #5fadd7; border-color: #5fadd7;">
            <i class="bi bi-arrow-up"></i>
        </a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
